.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/* css for background image */
.bg {
  /* Set up proportionate scaling */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 1400px 700px;
  background-attachment: fixed;
}
.homeBtns {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.btn {
  padding: 0.5rem 1rem;
  /* background-color: cyan; */
  box-shadow: 0.2rem 0.2rem #d3d3d3;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

/* css for navbar */
.nav {
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
a {
  margin-right: 1rem;
  text-decoration: none;
  color: #46f584;
}
a.active {
  font-weight: bold;
  color: #fff;
}

.header {
  background: #174e64;
  width: 100%; 
  box-shadow: 0 0 2px black;

  /* box-shadow: 0.5rem 0.5rem 0 0  #d3d3d3; */
  /* navbar fixed to top when scrolled 
  position: sticky;
  top: 0px; */
}
.alert {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.white {
  color: #fff;
}

.filterButton {
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}
label {
  font-size: large;
}
input,
button {
  padding: 0.5rem;
  border: 1px solid #d3d3d3;
  margin: 0.5rem;
  /* font-size: large; */
  border-radius: 0.125rem;
}
button {
  cursor: pointer;
 
 
}
.btn-warning {
  font-size: 1.2rem;
}
button:active {
  background-color: yellow;
}
input:focus {
  outline: none;
  box-shadow: 0 0 1rem 0.2rem #d3d3d3;
  background: #fff;
}

.navBtn {
  border: none;
}

/* css for cards */
.card {
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* for giving same width to all the buttons */
.primary-button {
  width: 120px;
  display: inline-block;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

th,
td {
  padding: 0.625em;
  text-align: center;
  /* border: 1px solid black; */
}

th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*css for login and sign up form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formHeader {
  margin-top: 1rem;
}

/* css for cart */
.cartButton {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1200px) {
  .bg {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }
  .btn {
    font-size: 0.7rem;
    width: 80px;
  }
}
@media screen and (max-width: 500px) {
  img {
    width: 60px;
  }
  .btnCart {
    font-size: 0.6rem;
    width: 3rem;
    height: 3rem;
    padding: 0.625em;
    background-color: #61dafb;
  }
  .navBtn {
    font-size: 0.5rem;
    width: 70px;
    height: 70px;
    padding: 0.625em;
  }
  .btn {
    font-size: 0.6rem;
    width: 60px;
  }
  .itemTitle {
    font-size: 0.8rem;
  }
}
